:root{
    --bg-color: #d6ddde ;
    --text-color: ;
    --accent: ;
    --accent-color: ;
}

@font-face{
    font-family: Alegant ;
    src: url('/DxAlegant-ExtraLight.woff');
}

body{
    background: var(--bg-color);
}

h1{
    font-family: Alegant ;
}

a{
    text-decoration: inherit;
}
