:root{
    --bg-color: #d6ddde ;
    --text-color: #141f2f;
    --accent: Alientz ;
    --accent-color:  #114eab;
}

@font-face{
    font-family: Alientz  ;
    src: url('/src/fonts/TT\ Alientz\ Trial\ Serif.ttf');
}

body{
    background: var(--bg-color);
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: var(--accent) ;
    color: var(--accent-color);
    font-size: 26px;
}

a{
    text-decoration: none;
    color: inherit;
    width: fit-content;
    white-space: nowrap;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.hero{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 80vh;
    margin: 1rem;
    overflow: hidden;
    background: linear-gradient(337deg, rgba(2, 0, 36, 0.69) 50%, rgba(27, 43, 122, 0.499) 70%, rgba(183, 225, 233, 0.222) 100%);

  
    & article{
        z-index: 2;
        padding: 1rem;

        & h1{
            font-size: 40px;
            color: var(--bg-color);
        }

        & p{
            color: var(--bg-color);
        }
    }

    & .link_wrapper{
        padding: 1rem;
        padding-bottom: 2rem;
    }
}

.bgimage{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main{
    margin-bottom: 2rem;
}

.wrapper{
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.link_wrapper{
    display: flex;
    gap: 1.5rem;
    flex-flow: row-reverse;
}

.treatments{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    width: 100%;

    @media (min-width: 425px){
        flex-flow: row wrap;
        justify-content: center;
      }
}

.treatment{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 0.5rem;
    width: 100%;
        
    @media (min-width: 425px){
        width: 40%;
      }
}

.description{
    display: flex;
    flex-flow: column;
}

footer{
    display: flex;
    flex-flow: row-reverse;
    padding: 1rem;
    padding-bottom: 2rem;
}

.link{
    border: solid 2px var(--text-color);
    border-radius: 8rem;
    text-transform: capitalize;
    padding:  0.5rem 0.7rem;
    color: var(--text-color);
    background: var(--bg-color);
    transition: padding ease-out 0.2s;

    &:hover{
        box-shadow: -4px 4px 0px 0px var(--text-color); 
        padding: 0.5rem 0.8rem;
    }
}

.link_secondary{
    border: solid 2px var(--accent-color);
    border-radius: 8rem;
    text-transform: capitalize;
    padding: 0.5rem 0.7rem;
    color: var(--bg-color);
    background: var(--accent-color);
    transition: padding ease-out 0.2s;

    &:hover{
        box-shadow: -4px 4px 0px 0px var(--text-color); 
        padding: 0.5rem 0.8rem;
    }
}