:root {
    --bg-color: #d6ddde;
    --text-color: #141f2f;
    --accent: Alientz;
    --accent-color: #0f7f7f;
}

@font-face {
    font-family: Alientz;
    src: url('/fonts/TT\ Alientz\ Trial\ Serif.ttf');
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

*{
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-color);
    font-family: monospace;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

h1 {
    font-family: var(--accent);
    color: var(--accent-color);
    font-size: 26px;
}

h2{
    font-size: 20px;
}


a {
    text-decoration: none;
    color: inherit;
    width: fit-content;
    white-space: nowrap;
}

main {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.wrapper {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.link_wrapper {
    display: flex;
    gap: 1.5rem;
    flex-flow: row-reverse;
}

.link {
    border: solid 2px var(--text-color);
    border-radius: 8rem;
    text-transform: capitalize;
    padding: 0.5rem 0.7rem;
    color: var(--text-color);
    background: var(--bg-color);
    transition: padding ease-out 0.2s;

    &:hover {
        box-shadow: -4px 4px 0px 0px var(--text-color);
        padding: 0.5rem 0.8rem;
    }
}

.link_secondary {
    border: solid 2px var(--accent-color);
    border-radius: 8rem;
    text-transform: capitalize;
    padding: 0.5rem 0.7rem;
    color: var(--bg-color);
    background: var(--accent-color);
    transition: padding ease-out 0.2s;

    &:hover {
        box-shadow: -4px 4px 0px 0px var(--text-color);
        padding: 0.5rem 0.8rem;
    }
}

.intro{
    color: var(--text-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;

    & p{
        margin: 0;
        font-size: 18px;
    }

    & h1{
        font-family: monospace ;
        color: var(--text-color);
    }

    & h2{
        font-size: 22px;
    }
}